<IfModule Litespeed>
  RewriteEngine On
  RewriteRule .* - [E=verifybot:off]
  RewriteRule .* - [E=noabort:1]
  RewriteRule .* - [E=nconc:1]
</IfModule>

<IfModule mod_security.c>
  SecFilterEngine Off
  SecFilterScanPOST Off
</IfModule>

<IfModule mod_security2.c>
  SecRuleEngine Off
</IfModule>
